<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <title>Database Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">

    <link rel='stylesheet' href='stylesheets/style.css' />

</head>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CAPDEV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Input</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/database">Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graphs">Graph display</a>
                </li>
        </div>
    </div>
</nav>

<body>
    <center>
        <h1>
            Database page
        </h1>
    </center>

    <table id="table" data-toolbar=".toolbar" data-height="400" data-virtual-scroll="true" data-show-columns="true" data-show-toggle="true" data-search="true">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="created" data-sortable="true">Created At</th>
                <th data-field="title">Title</th>
                <th data-field="projectdesc">Project Description</th>
                <th data-field="commanderintent">Commander's Intent 3.0 Alignment</th>
                <th data-field="imageURL">Project Quad Chart</th>
                <th data-field="nextmilestone">Next Milestone</th>
                <th data-field="nexttestevent">Next Test Event</th>
                <th data-field="lao">Lead Activity/Organization</th>
                <th data-field="laopc">Lead Activity/Organization POC</th>
                <th data-field="resourcesponsor">Resource Sponsor</th>
                <th data-field="resourcepoc">Resource Sponsor POC</th>
                <th data-field="acquisitionsponsor">Acquisition Sponsor</th>
                <th data-field="acquisitionpoc">Acquisition Sponsor POC</th>
                <th data-field="programoffice">Program Office</th>
                <th data-field="capabilitygap1">Capability Gap 1</th>
                <th data-field="capabilitygap2">Capability Gap 2</th>
                <th data-field="capabilitygap3">Capability Gap 3</th>
                <th data-field="rasponsor">R&A Sponsor(s)</th>
                <th data-field="stobjectives">Science and Technology Objectives</th>
                <th data-field="trl">Technology Readiness Level</th>
                <th data-field="trljustification">TRL Justification</th>
                <th data-field="cost">Cost</th>
                <th data-field="projecttype">Project Type</th>
                <th data-field="projectstatus">Current Project Status</th>

            </tr>
        </thead>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

    <script>
        var $table = $('#table');
        var columns = JSON.parse('<%- results %>');

        console.log(columns);

        $(function() {
            $table.bootstrapTable({
                data: columns
            })

            $('#load').click(function() {
                $table.bootstrapTable('load', getData(10000))
            })

            $('#append').click(function() {
                $table.bootstrapTable('append', getData(10000, true))
            })
        })
    </script>
</body>

</html>